:root {
    --primary: #4c4f69;
    --secondary: #eff1f5;
    --accent: #f7768e;
    --colour-ease: 0.4s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #cdd6f4;
        --secondary: #1e1e2e;
    }
}

a {
    text-decoration: underline;
    color: var(--primary);
}

.nav-links {
    transition: color var(--colour-ease) ease;
}

.nav-links a:hover {
    color: var(--accent);
}

body {
    font-family: monospace;
    background-color: var(--secondary);
    color: var(--primary);
}

header > div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    padding: 10px 30px;
}

section {
    padding: 10px 30px;
    container-type: normal;
}

section > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
}

.card {
    min-width: 380px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: 4px 4px 0px var(--primary);
    transition: box-shadow var(--colour-ease) ease, border var(--colour-ease) ease, color var(--colour-ease) ease;
}

.card:hover {
    border: 1px solid var(--accent);
    box-shadow: 4px 4px 0px var(--accent);
    color: var(--accent);
}

.card:hover a {
    color: var(--accent);
}

div > h4 {
    margin-bottom: 5px;
}

div > h5 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card a {
    margin-top: auto;
    transition: color var(--colour-ease) ease;
}

.card a:hover {
    color: var(--primary);
}