$themes: (
  light: (
    text: #020203,
    background: #fcfcfd,
    primary: #222b44,
    secondary: #c5cde2,
    accent: #495d92,
  ),
  dark: (
    text: #fcfcfd,
    background: #020203,
    primary: #bbc4dd,
    secondary: #1d253a,
    accent: #6d80b6,
  ),
);

$theme-light-text: map-get(map-get($themes, "light"), "text");
$theme-light-background: map-get(map-get($themes, "light"), "background");
$theme-light-primary: map-get(map-get($themes, "light"), "primary");
$theme-light-secondary: map-get(map-get($themes, "light"), "secondary");
$theme-light-accent: map-get(map-get($themes, "light"), "accent");

$theme-dark-text: map-get(map-get($themes, "dark"), "text");
$theme-dark-background: map-get(map-get($themes, "dark"), "background");
$theme-dark-primary: map-get(map-get($themes, "dark"), "primary");
$theme-dark-secondary: map-get(map-get($themes, "dark"), "secondary");
$theme-dark-accent: map-get(map-get($themes, "dark"), "accent");
